<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>		
		
	<div ui-view></div>
	
	<!-- Load the Socket.io client -->	
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
	<!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
	<script src="/lib/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
	<script src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="/application.js"></script>

	

</body>
</html>